h1 {
  font-size: 55px;
  color: white;
}

body {
    font-family: 'Varela Round', sans-serif;
    color: black;
    width: 85%;
    margin: 0 auto;
}

header {
  background-color: orange;
}

header .main-profile-pic {
    border: solid orange 16px;
    border-radius: 50%;
    position: fixed; top: 10px; right: 50px;
    padding: .1em;
    margin: .2em;
}

header .main-profile-pic:hover {
    color: green;
    transform: scale(1.2) rotate(-15deg);
}

p {
  font-size: 20px;
}

.main-header {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    background: orange;
    margin-bottom: 30px;
    float:left;
    padding: 15px 0px;
    width: 100%;
}

.main-nav li {
    display: inline;
    margin-right: 10px;
    padding: 8px
}

.button {
    display: inline-block;
    height: 30px;
    width: 100px;
    background: darkorange;
    border: 9px solid rgba(233, 105, 44, 19.4);
    border-style: outset;
    color: rgba(5, 5, 5, 5);
    text-align: center;
    font: bold 1em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;

}

.main-footer {
    text-align: center;
    padding: 2em 0;
    background: #d9e4ea;
    min-width: 100%;
    margin-top: 10%;
}

* {margin: 0; padding: 0;}

div {
  margin: 20px;
}

ul {
  list-style-type: none;
  width: 500px;
}

h3 {
  font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
}

li img {
  float: left;
  margin: 0 15px 0 0;
}

li p {
  /*  font-family: 'Varela Round', sans-serif;*/
  font: 200 12px/1.5 'Varela Round', serif;
}

li {
  padding: 5px;
  overflow: auto;
}

li:hover {
  background: #eee;
  cursor: pointer;
}
















/*#blog-list li {
    list-style-type: none;
    margin-bottom: 15px;
}

p {
	margin-bottom: 40px;
}


#Text {
    column-count: 2;
    column-rule: 4px;
    column-gap: 20px;

    -moz-column-count: 2;
    -moz-column-rule: 4px;
    -moz-column-gap: 20px;

    -webkit-column-count: 2;
    -webkit-column-rule: 4px;
    -webkit-column-gap: 20px;
}



div.img {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}	

div.img:hover {
    border: 1px solid #777;
}

div.img img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

.main-footer {
	text-align: center;
	padding: 2em 0;
	background: #d9e4ea;
	min-width: 100%;
	margin-top: 10%;
}*/