
#blog-list li {
    list-style-type: none;
    margin-bottom: 15px;
    column-count: 2;
}

p {
	margin-bottom: 40px;
}

/*.center {
    margin: auto;
    width: 60%;
    border: 3px solid black;
    padding: 10px;
}

