

h1 {
  font-size: 66px;
  color: white;
}

body {
	font-family: 'Varela Round', sans-serif;
	color: black;
	width: 85%;
	margin: 0 auto;
}

header {
  background-color: orange;
}

header .main-profile-pic {
	border: solid orange 16px;
	border-radius: 50%;
	position: fixed; top: 10px; right: 50px;
	padding: .1em;
	margin: .2em;
}

header .main-profile-pic:hover {
	color: green;
	transform: scale(1.2) rotate(-15deg);
}

p {
  font-size: 20px;
}

.main-header {
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	background: orange;
	margin-bottom: 30px;
	float:left;
	padding: 15px 0px;
	width: 100%;
}

.main-nav li {
	display: inline;
	margin-right: 40px;
	padding: 12px
}

.button {
	display: inline-block;
	height: 30px;
	width: 100px;
  background: darkorange;
	border: 9px solid rgba(233, 105, 44, 19.4);
	border-style: outset;
	color: rgba(5, 5, 5, 5);
	text-align: center;
	font: bold 1em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;

}

.main-footer {
	text-align: center;
	padding: 2em 0;
	background: #d9e4ea;
	min-width: 100%;
	margin-top: 10%;
}
